.grid__row
        .grid__column.grid__unit--md-5
                div(:class="{ 'invalid': isInvalid }")
                        label.typo__label 至少选择一项



                        multiselect(







                        style="width: 50%;",
                        :selected.sync="selected",
:options="options",








                        data-key="data",

                        label="nameZh",


                        :taggable="true",
                        :multiple="false"








                        )
                         input(type="hidden",slot="validate")

