doctype html
html(lang="en")
        head
                meta(charset='utf-8')
                meta(name='viewport', content='width=device-width,initial-scale=1')
                title Vue-Multiselect | A Vue.js library
                link(rel='icon', href='static/vue-logo.png', type='image/x-icon')
                meta(name='description', content='Probably the most complete selecting solution for Vue.js, without jQuery.')
                meta(property='og:title', content='Vue-Multiselect | A Vue.js library.')
                meta(property='og:site_name', content='Vue-Multiselect | A Vue.js library.')
                meta(property='og:url', content='http://monterail.github.io/vue-multiselect')
                meta(property='og:description', content='Probably the most complete selecting solution for Vue.js, without jQuery.')
                meta(property='og:image', content='http://monterail.github.io/vue-multiselect/static/vue-logo.png')
                meta(property='twitter:image', content='http://monterail.github.io/vue-multiselect/static/vue-logo.png')
                meta(property='twitter:title', content='Vue-Multiselect | A Vue.js library.')
                meta(property='twitter:description', content='Probably the most complete selecting solution for Vue.js, without jQuery.')
        body


                .grid__row
                        .grid__column
                                section.docs

                                        hr.typo__hr
                                        include ./partials/examples/_custom

                                hr.typo__hr

                script(src='static/prism.js')
                script(src='static/jquery-2.2.2.min.js')
                script(src='static/sonata.js')
